.fondoHome {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*Header*/
.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 0 0px;
}
.headerLeft {
    flex: 0 0 20%; /* flexible al 20%, evita la contracción/crecimiento*/
    display: flex;
    align-items: center;
}
.headerLeft img {
    width: 100%;
    height: auto;
    max-height: 9vh;
    object-fit: contain;
}
.headerCenter {
    flex-grow: 1; /* Permitir que headerCenter crezca y ocupe espacio disponible */
    display: flex;
    justify-content: center; /* Horizontal */
    align-items: center; /* Vertical*/
    text-align: center;
    margin: 0 20px;
    font-size: 3rem; /* Tamaño de la fuente */
    font-family: "JetBrains Mono", monospace;
    font-weight: 800;
    font-style: italic;
}
.title {
    font-size: 1.8rem;
    font-weight: bold;
}
.headerRight {
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Contenido*/
.contenidoHome {
    height: 70vh;
    padding: 1rem;
    background-color: #ffffff;
}
.FiltrosCursos {
    display: flex;
    align-items: center;
    gap: 20px; /* Use gap to add space between items */
}
/*Footer*/
.contenidoFooter {
    padding: 1rem;
    background-color: #f0f0f0;
    text-align: center;
    border-top: 1px solid #ccc;
}
